.ForgotPasswordSubmitBtn{
    position: absolute;
    left: 0%;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;

    color: #FFFFFF;
}