
.TokenLabel{
    position: absolute;
    width: auto;
    height: auto;
    left: 0%;
    top: 53%;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.065em;

    color: #818181;
}
.TokenInput{
    position: absolute;
    width: 95%;
    height: 8%;
    left: 0%;
    top: 58%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.065em;
}

.GenerateTokenDiv{
    box-sizing: border-box;

    position: absolute;
    width: 95%;
    height: 8%;
    left: 0%;
    top: 40%;
    background: #005941;
    border: 0px solid #000000;
    border-radius: 16px;
    background: linear-gradient(to left, #005941 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.GenerateTokenDiv:hover, .GenerateTokenButton:hover{
    background-position: left;
    color: #0f0f0f;
    transition: 1s;
}

.GenerateTokenButton{
    border: none;
    position: absolute;
    left: 0%;
    width: 100%;
    margin-top: 1vh;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.7vw;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;
    background-color: #00594100;
    color: #FFFFFF;
}
.FPNewUserDiv{
    position: absolute;
    width: 40%;
    height: 40px;
    left: 0%;
    top: 85%;
}
.FPForgotPasswordClass{
    position: absolute;
    width: 290px;
    height: 40px;
    left: 48%;
    top: 85%;

    font-family: 'Lato';
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.065em;

    color: #818181;
}
.FPForgotPasswordClass:hover{
    color: #005941;
}
.FPLoginButton{
    box-sizing: border-box;

    position: absolute;
    width: 95%;
    height: 8%;
    left: 0%;
    top: 75%;

    background: #005941;
    border: 1px solid #000000;
    border-radius: 16px;

}
.ForgotPasswordSubmitBtn{
    position: absolute;
    left: 0%;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.065em;

    color: #FFFFFF;
}