.FPUserAuth {
  position: absolute;
  width: 27.5%;
  height: 87%;
  left: 70%;
  top: 10.5%;
  overflow: auto;
  margin: 0.7rem;
  padding: 0.8vw;
  padding-right: 2%;
}

.FPheadingTitle {
  position: relative;
  left: 0%;
  top: 0%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: min(2.5rem, 42px, 4vw);
  margin-bottom: min(0.3rem,5%);
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  color: #005941;
}

.FPheadText {
  position: relative;
  width: auto;
  height: auto;
  left: 0%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: min(1.5rem, 36px, 2vw);
  line-height:min(24px, 4rem, 2vw);
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  margin-bottom: min(1rem,20%);
  color: #818181;
}

.userName {
  position: relative;
  height: 5%;
  left: 0%;
  margin-top: 2rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: min(2.7vw, 2rem);
  margin-bottom: min(1.5rem,10%);
  line-height: 0%;
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  z-index: 100;
  color: #818181;

}


.userNameInput {
  box-sizing: border-box;
  position: relative;
  height: min(5vw,4rem);
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: min(0.85vw,2rem);
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: min(1.5rem, 36px, 2vw);
  line-height:min(24px, 4rem, 2vw);
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  margin-bottom: min(1rem,10%);
}

.userNameInput.invalid {
  box-sizing: border-box;
  position: relative;
  width: 95%;
  height: min(5vw,4rem);
  border-color: rgb(255, 150, 150);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.85vw;
  font-family: "Lato";
  font-style: normal;
  font-size: min(1.5rem, 36px, 2vw);
  line-height:min(24px, 4rem, 2vw);
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  margin-bottom: min(1rem,10%);
}

.GenerateTokenButton {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min(5vw,4rem);
  background: #005941;
  border: none;
  border-radius: 0.85vw;
  margin-bottom: min(3rem,25%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.GenerateTokenButton:hover, .FPLoginButton:hover {
  background-color: #004230;
}
.GenerateTokenText{
  position: relative;
  left: 0%;
  width: 100%;
  padding-top: 0.19rem;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: min(2.5vw, 2.5rem);
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.065em;
  color: #ffffff;
}

.TokenLabel {
  position: relative;
  height: 5%;
  left: 0%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: min(2.7vw, 2rem);
  margin-bottom: min(1.5rem,10%);
  line-height: 0%;
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  z-index: 100;
  color: #818181;
}
.TokenInput {
  box-sizing: border-box;
  position: relative;
  height: min(5vw,4rem);

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: min(0.85vw,2rem);

  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: min(1.5rem, 36px, 2vw);
  line-height:min(24px, 4rem, 2vw);
  display: flex;
  align-items: center;
  letter-spacing: 0.065em;
  margin-bottom: min(3rem,30%);
}
.FPLoginButton {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: min(5vw,4rem);  
  background: #005941;
  border: none;
  border-radius: 0.85vw;
  margin-bottom: min(1rem,7%);
}

.ForgotPasswordSubmitBtn {
  position: relative;
  left: 0%;
  width: 100%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: min(3vw, 3rem);
  display: flex;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.065em;
  color: #ffffff;
  cursor: pointer;
}

.NusEul_CSS{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.NewUserDiv{
  display: flex;
  flex-direction: row;
}
.NewUserClass, .FPForgotPasswordClass{
  width: auto;
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: min(1.5rem,1.5vw);
  line-height: 2rem; 
  color: #818181;
  text-align: center;
}
.SignupClass{
  width: auto;
  position: relative;
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: min(1.5rem,1.5vw);
  line-height: 2rem; 
  color:#004230;
  text-align: center;
}
.NewUserClass:hover{
  color: #004230;
}
.SignupClass:hover{
  color: #818181;
}
.EU_Css{
  display: flex;
  flex-direction: row;
}
.FPForgotPasswordClass:hover {
  color: #005941;
}

@media (min-width: 1800px) {
  .NusEul_CSS {
    flex-direction: row;
    justify-content: center;
  }
}